<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="detail-content">

  @if (isLoading) {
    <div class="loading-container">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  }

  @if (transaction && !isLoading) {
    <app-trasaction-detail-components
      [transaction]="transaction"
      (onEdit)="goToEdit(transaction)"
      (onDelete)="confirmDelete()">
    </app-trasaction-detail-components>
  }

</ion-content>
